
<form id="readOnlyForm">
  <label for="youtubeID">Youtube Stream ID:</label>
  <div class="inputContainer">
    <input type="text" id="youtubeID" onkeyup="saveSetting(event)"/>
  </div>
  <label for="apiKey">Your API Key:</label>
  <div class="inputContainer">
    <input type="password" id="apiKey" onkeyup="saveSetting(event)"/>
  </div>
  <div id="buttonsSection">
    <button onclick="setStreamSettings(event)" id="setButton">Set</button>
    <button onclick="saveSettings(event)" id="saveButton" title="For the next time you open this app">Save</button>
  </div>
</form>